# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/assets
/gen
/proguard
/local.properties
/temp
/src/org/bogus/domowygpx/oauth/dc
Thumbs.db