<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bogus.geocaching.egpx"
    android:versionCode="11"
    android:versionName="1.0 Yellow Submarine">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- uses-permission android:name="android.permission.WAKE_LOCK" /-->

    <application
        android:allowBackup="true"
        android:name="org.bogus.domowygpx.application.Application"
        android:icon="@drawable/logo_straszne"
        android:label="@string/applicationName" 
        android:theme="@style/Theme.Main">
        <activity
            android:name="org.bogus.domowygpx.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/applicationName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_logo_straszne_cieniowane_9">
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
        <activity
            android:name="org.bogus.domowygpx.activities.DownloadListActivity"
            android:label="@string/titleActivityDownloadList"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="org.bogus.domowygpx.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.bogus.domowygpx.activities.LocusSearchForCachesActivity" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/titleLocusSearch"
            android:theme="@style/Theme.Transparent"
            android:icon="@drawable/ic_logo_straszne_cieniowane_9"
            >
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_SEARCH_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <service
            android:name="org.bogus.domowygpx.services.GpxDownloaderService"
            android:description="@string/gpxDownloaderServiceDescription"
            android:exported="false"
            android:label="@string/gpxDownloaderServiceName" >
        </service>
        <service
            android:name="org.bogus.domowygpx.services.FilesDownloaderService"
            android:description="@string/filesDownloaderServiceDescription"
            android:exported="false"
            android:label="@string/filesDownloaderServiceName" >
        </service>
    </application>

</manifest>