<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bogus.geocaching.egpx"
    android:versionCode="10"
    android:versionName="1.0 Yellow Submarine">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- uses-permission android:name="android.permission.WAKE_LOCK" /-->

    <application
        android:allowBackup="true"
        android:name="org.bogus.domowygpx.application.Application"
        android:icon="@drawable/logo_straszne"
        android:label="@string/applicationName" >
        <activity
            android:name="org.bogus.domowygpx.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/applicationName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bogus.domowygpx.activities.DownloadListActivity"
            android:label="@string/titleActivityDownloadList"
            android:configChanges="keyboardHidden|orientation" 
            android:launchMode="singleTop">
        </activity>
        
        <service
            android:name="org.bogus.domowygpx.services.GpxDownloaderService"
            android:description="@string/gpxDownloaderServiceDescription"
            android:exported="false"
            android:label="@string/gpxDownloaderServiceName" >
        </service>
        <service
            android:name="org.bogus.domowygpx.services.FilesDownloaderService"
            android:description="@string/filesDownloaderServiceDescription"
            android:exported="false"
            android:label="@string/filesDownloaderServiceName" >
        </service>
        
        <!-- activity android:name="org.bogus.domowygpx.activities.LocusImportActivity" 
            android:label="@string/applicationName"
			android:theme="@style/Theme.Transparent"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter android:label="Opencaching OPA" android:icon="@drawable/logo_straszne">
				<action android:name="menion.android.locus.ON_POINT_ACTION" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
            
            <!- - thanks to this, app appear in list of available locations - ->
            <intent-filter android:label="Opencaching GL" android:icon="@drawable/logo_straszne">
                <action android:name="locus.api.android.INTENT_ITEM_GET_LOCATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!- - thanks to this, app appear in sub-menu of every point - ->
            <intent-filter android:label="Opencaching PT" android:icon="@drawable/logo_straszne">
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!- - thanks to this, app appear in function list - ->
            <intent-filter android:label="Opencaching MF" android:icon="@drawable/logo_straszne">
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!- - thanks to this, app appear in searching options - ->
            <intent-filter android:label="Opencaching SL" android:icon="@drawable/logo_straszne">
                <action android:name="locus.api.android.INTENT_ITEM_SEARCH_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!- - thanks to this, app appear in points screen - tools button - ->
            <intent-filter android:label="Opencaching PST" android:icon="@drawable/logo_straszne">
                <action android:name="locus.api.android.INTENT_ITEM_POINTS_SCREEN_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="Opencaching PT GC" android:icon="@drawable/logo_straszne">
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="locus" />
                <data android:path="menion.android.locus/point_geocache" />
            </intent-filter>

		</activity-->
    </application>

</manifest>